<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Grocery Budget List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="https://unpkg.com/vue@2.2.1"></script>
  </head>
  <body>
    <main id="App">
      <div class="row app-header">
        <div class="col-md-8 col-md-offset-2">
          <input type="text" name="newItem" placeholder="Enter new grocery item" v-model="newItem" v-on:keyup.enter="addNewItem">
          <input type="number" step="any" name="newItemPrice" placeholder="Enter new grocery item price" v-model.number="newItemPrice" v-on:keyup.enter="addNewItem">
        </div>
      </div>
      <div class="row app-body">
        <div class="col-md-6 listItems">
          <ul>
            <li v-for="grItem in grItems" :id="grItem.name">
              <input type="checkbox" name="checkbox" v-model="grItem.checked" v-on:click="addItemToList">
              <label for="checkbox">{{ grItem.checked }}</label>
              <label>{{ grItem.name }}</label>
              <label>{{ grItem.price }}</label>
              <button type="button" v-on:click="deleteItem">X</button>
            </li>
          </ul>
        </div>
        <div class="col-md-6 listTotal">
          <ul>
            <li v-for="itemInList in itemsInList">
              <p>{{ itemInList.name }}</p>
              <p>{{ itemInList.price }}</p>
            </li>
          </ul>
          <p>${{ listTotal }}</p>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
